.full_white_background {
    background-color: white;
    height: 100%;
    display: block;
    overflow: auto;
}

ul {
    list-style-type: none;
    display: inline-block;
}

.text_color_purple {
    color: rgb(70, 0, 70);
    font-family: monospace;
    font-size: 16px;
}

li {
    color: #00c358;
    font-family: "montserrat_regular", "arial", sans-serif;
    font-size: 16px;
    margin-top: 20px;
    transition: color 1s;
    display: block;
}

.change_style_on_hover:hover {
    font-family: "montserrat_bold", "arial", sans-serif;
    font-size: 14px;
    color: rgb(136, 0, 136);
}

a {
    text-decoration: none;
    transition: font-family 0.5s;
}
