h1 {
    color: white;
    font-family: "elianto_regular", "arial", sans-serif;
    font-size: 44px;
    letter-spacing: 24px;
    margin-left: 40px;
    margin-bottom: 5px;
    transition: color 0.5s;
}

h1:hover {
    color: #3ddc84;
}

a {
    text-decoration: none;
}
