/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111 !important;
  background: url("img1.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
