ul {
    list-style-type: none;
}

li {
    color: white;
    display: inline;
    font-size: 20px;
    padding: 20px 20px 20px 0px;
    font-family: "montserrat_bold", "arial", sans-serif;
}

li:hover {
    color: #3ddc84;
    display: inline;
    padding: 20px 20px 20px 0px;
    font-size: 20px;
    font-family: "montserrat_bold", "arial", sans-serif;
}

a {
    text-decoration: none;
}
