ul {
    list-style-type: none;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

li {
    color: white;
    display: inline;
    font-size: 20px;
    padding: 0px 30px 0px 0px;
    font-family: "montserrat_bold", "arial", sans-serif;
    transition: color 0.5s;
}

li:hover {
    display: inline;
    color: #3ddc84;
    padding: 0px 30px 0px 0px;
    font-size: 20px;
    font-family: "montserrat_bold", "arial", sans-serif;
}

a {
    text-decoration: none;
}
